@import url('https://fonts.googleapis.com/css2?family=Titan+One');
@import url('https://fonts.googleapis.com/css2?family=Didact+Gothic');

body {
    background: #223;
    color: #fff;
    font-family: 'Didact Gothic', sans-serif;
    text-align: center;
    display: block;
    margin: 0 auto;
    width: 50%;
    padding: 20px;
}

a {
    color: #00b7ff;
    word-break: break-all;
}

.url {
    display: block;
    background: #000;
    padding: 20px;
    border-radius: 8px;
    color: green;
}

.f-droid {
    vertical-align: middle;
}

h1 {
    font-family: 'Titan One', sans-serif;
    font-weight: 300;
    color: #fe53e1;
    font-size: 2.5em;
}

@media(min-width: 800px) {
    body {
        width: 30%;
        margin: 0 auto;
    }
}